<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <h1 class="page-header">Ryan Swanstrom <small>Data Scientist</small></h1>

    <%= image_tag @user.gravatar_url(:size => 200), :class=>"img-rounded" %>
    <%= @user.username %>
    <%= @user.email %>

    <% if user_signed_in? %>
    <%= link_to "Edit", defined?(edit_user_registration_path) ? edit_user_registration_path : "#" %> |
    <%= link_to "Logout", defined?(destroy_user_session_path) ? destroy_user_session_path : "#", :method => :delete %>
    <% end %>
    <br/>
    <a class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
    <a class="btn btn-social-icon btn-github"><i class="fa fa-github"></i></a>
    <a class="btn btn-social-icon btn-google-plus"><i class="fa fa-google-plus"></i></a>
    <a class="btn btn-social-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
    <a class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
  </div>
</div>